/* YOUR CUSTOM STYLES */

.page-header {
background-color: #49516F;
height: auto;

}
.row1{


padding-left: 150px;
padding-right: 150px;
padding-top:50px;
padding-bottom: 10px;

}

.row2{


padding-left: 150px;
padding-right: 150px;
padding-top:10px;
padding-bottom: 10px;

}


.row3{


padding-left: 150px;
padding-right: 150px;
padding-top:10px;
padding-bottom: 10px;

}


.main-container{


padding-left: 150px;
padding-right: 150px;
padding-top:50px;
padding-bottom: 10px;

}
